<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hfad.androidwantliang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/wantliang"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/wantliang"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".glide.Glide03Activity"></activity>
        <activity android:name=".glide.Glide02Activity" />
        <activity android:name=".glide.Glide01Activity" />
        <activity android:name=".glide.GlideActivity" />
        <activity android:name=".view.MenuActivity" />
        <activity android:name=".view.BaiduActivity" />
        <activity android:name=".view.ListViewActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>